.ul {
  position:absolute;
  top:0;
  right:0;
  z-index:20;
  font-size:1.1em;
  display: flex;

  :global {
    li {
      margin-left:1rem;
      a {
        text-decoration: none;

        &.active, &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.burger {
  :global {
    .hamburger {
      padding:0;
      margin-bottom:1rem;
    }

    .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before, .hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner:after, .hamburger.is-active .hamburger-inner:before {
      height:2px;
    }

    .hamburger-inner {
      text-indent:-99999px;
    }
  }
}