.ul {
  z-index:20;
  font-size:1.1em;
  display: flex;
  

  :global {
    li {
      margin-left:2.5rem;
      a {
        text-decoration: none;

        &.active, &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}